<!DOCTYPE html>
<html>
  <head>
    <title>SampleProject</title>
  </head>

  <body>
    aaaaa
    <%= javascript_bundle_tag 'application' %>
    <%= stylesheet_bundle_tag 'application-stylesheet' %>
    <%= javascript_bundle_tag 'hello_vue' %>
    <%= stylesheet_bundle_tag 'hello_vue' %>
  </body>
</html>
